@{
    ViewBag.Title = "Annuity & Amortizing Mortgage";
}

<script type="text/javascript" src="~/Scripts/site/forms.js"></script>
<script type="text/javascript">
    function validateFields() {
        PCyGood = checkPCy();
        NMmGood = checkNMm();
        if (!PCyGood) {
            $.Notify({
                caption: 'Error',
                content: 'Input 2 of 3: P, C, y with numbers.',
            });
        }
        if (!NMmGood) {
            $.Notify({
                caption: 'Error',
                content: 'Input (M and m) or (N) with numbers.',
            });
        }

        return (PCyGood && NMmGood);
    }

    function getFunctionName(useP, useC, usey, useMm) {
        ret = '/Annuity/AnnuityWith';
        if (useP && useC)
            ret += "PandC";
        else if (useP && usey)
            ret += "Pandy";
        else
            ret += "Candy"; // heh

        if (useMm)
            ret += "andMm";
        else
            ret += "andN";
        
        return ret;
    }

    function submitAnnuity() {
        var P, C, y;
        var M, m, N;

        var useP = true;
        if ($('#P').attr('disabled'))
            useP = false;
        var useC = true;
        if ($('#C').attr('disabled'))
            useC = false;
        var usey = true;
        if ($('#y').attr('disabled'))
            usey = false;

        // Mm or N?
        var useMm = true;
        if ($('#M').attr('disabled'))
            useMm = false;

        if (useP)
            P = parseField($('#P').val());
        if (useC)
            C = parseField($('#C').val());
        if (usey)
            y = parseField($('#y').val());
        if (useMm) {
            M = parseField($('#M').val());
            m = parseField($('#m').val());
        } else
            N = parseField($('#N').val());


        var func = getFunctionName(useP, useC, usey, useMm);

        var params = new Object();
        if (useP)
            params.P = P;
        if (useC)
            params.C = C;
        if (usey)
            params.y = y;
        if (useMm) {
            params.M = M;
            params.littleM = m;
        } else
            params.N = N;
        var serialized = $.param(params, true);
        var url = func + "?" + serialized;
        window.location.href = url;
    }

    $(function () {
        disableThird();
        disableNOrMAndm();

        $('#P,#C,#y').on('input', disableThird);
        $('#M,#m,#N').on('input', disableNOrMAndm);
        $('#submit-annuity').click(function () {
            if (validateFields())
                submitAnnuity();
        });
    });
</script>

<div class="row">
    <div class="span12">
        <h1>@(ViewBag.Title)</h1>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span12">
                <h2>Input 2 of 3: P, C, y</h2>
            </div>
        </div>
        <div class="row">
            <div class="input-control text span4">
                <label>P</label>
                <input id="P" type="text" />
            </div>
            <div class="input-control text span4">
                <label>C</label>
                <input id="C" type="text" />
            </div>
            <div class="input-control text span4">
                <label>y</label>
                <input id="y" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <hr />
                <h2>Enter m and M</h2>
            </div>
        </div>
        <div class="row">
            <div class="input-control text span6">
                <label>M</label>
                <input id="M" type="text" />
            </div>
            <div class="input-control text span6">
                <label>m</label>
                <input id="m" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <hr />
                <h2>OR</h2>
                <hr />
                <h2>Enter N</h2>
            </div>
        </div>
        <div class="row">
            <div class="input-control text span12">
                <label>N</label>
                <input id="N" type="text" />
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="span12">
                <button id="submit-annuity" class="large primary">Submit</button>
            </div>
        </div>
    </div>
</div>
