@{
    ViewBag.Title = "Annuity & Amortizing Mortgage";
}

<script type="text/javascript" src="~/Scripts/site/forms.js"></script>
<script type="text/javascript">
    $(function () {
        $('#P,#C,#y').on('input', disableThird);
        $('#M,#m,#N').on('input', disableNOrMAndm);
    });
</script>

<div class="row">
    <div class="span12">
        <h1>@(ViewBag.Title)</h1>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span12">
                <h2>Input 2 of 3: P, C, y</h2>
            </div>
        </div>
        <div class="row">
            <div class="input-control text span4">
                <label>P</label>
                <input id="P" type="text" />
            </div>
            <div class="input-control text span4">
                <label>C</label>
                <input id="C" type="text" />
            </div>
            <div class="input-control text span4">
                <label>y</label>
                <input id="y" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <hr />
                <h2>Enter m and M</h2>
            </div>
        </div>
        <div class="row">
            <div class="input-control text span6">
                <label>M</label>
                <input id="M" type="text" />
            </div>
            <div class="input-control text span6">
                <label>m</label>
                <input id="m" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <hr />
                <h2>OR</h2>
                <hr />
                <h2>Enter N</h2>
            </div>
        </div>
        <div class="row">
            <div class="input-control text span12">
                <label>N</label>
                <input id="N" type="text" />
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="span12">
                <button id="submit-annuity" class="large primary">Submit</button>
            </div>
        </div>
    </div>
</div>
