@{
    ViewBag.Title = "Generalized Present Value Calculation";
}

<script type="text/javascript" src="~/Scripts/site/forms.js"></script>
<script type="text/javascript">
    var cf_index = 1;

    $(function () {
        $('#P,#y').on('input', disableOther);
        $('#M,#m,#N').on('input', disableNOrMAndm);
        $('#repeat').change(function () {
            if ($(this).is(':checked'))
                $('#repeatCount').removeAttr('disabled');
            else {
                $('#repeatCount').val('');
                $('#repeatCount').attr('disabled', 'disabled');
            }
        });
        $('#addCf').click(function () {
            cf_index++;
            var newId = "CF_" + cf_index;
            $('.current-cf-row').append(
                '<div class="input-control text span2"><input id="CF_'
                + cf_index + '" class="CF" type="text" /></div>');
            if (!(cf_index % 6)) {
                $('.current-cf-row').removeClass('current-cf-row')
                    .after('<div class="row current-cf-row"></div>');
            }

        });
    });
</script>

<div class="row">
    <div class="span12">
        <h1>@(ViewBag.Title)</h1>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span12">
                <h2>Enter CF<sub>0</sub> (or leave blank)</h2>
            </div>
        </div>
        <div class="row">
            <div class="input-control text span12">
                <label>CF<sub>0</sub></label>
                <input id="CF_0" class="CF" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <hr />
                <h2>Enter CF's for each Period (or repeat)</h2>
            </div>
        </div>
        <div class="row current-cf-row">
            <div class="input-control text span2">
                <input id="CF_1" class="CF" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <button id="addCf" class="large success">Add CF</button>
            </div>
            <div class="input-control checkbox span4">
                <label>
                    <input id="repeat" type="checkbox" />
                    <span class="check"></span>
                    Repeat Last CF?
                </label>
            </div>
            <div class="input-control text span4">
                <label>Repeat for how long?</label>
                <input id="repeatCount" type="text" disabled="disabled" />
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <hr />
                <h2>Input P or y</h2>
            </div>
        </div>
        <div class="row">
            <div class="input-control text span6">
                <label>P</label>
                <input id="P" type="text" />
            </div>
            <div class="input-control text span6">
                <label>y</label>
                <input id="y" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <hr />
                <h2>Enter m and M</h2>
            </div>
        </div>
        <div class="row">
            <div class="input-control text span6">
                <label>M</label>
                <input id="M" type="text" />
            </div>
            <div class="input-control text span6">
                <label>m</label>
                <input id="m" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <hr />
                <h2>OR</h2>
                <hr />
                <h2>Enter N</h2>
            </div>
        </div>
        <div class="row">
            <div class="input-control text span12">
                <label>N</label>
                <input id="N" type="text" />
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="span12">
                <button id="submit-pv" class="large primary">Submit</button>
            </div>
        </div>
    </div>
</div>
