@{
    ViewBag.Title = "Venture Capital Formula";
}

<script type="text/javascript" src="~/Scripts/site/forms.js"></script>
<script type="text/javascript">
    var round_index = 1;

    function validateFields() {
        var StartSharesGood = $.isNumeric($('#starting-shares').val());
        var YearExitGood = $.isNumeric($('#years-to-exit').val());
        var PeRatioGood = $.isNumeric($('#pe-ratio').val());
        var ExitEarningsGood = $.isNumeric($('#earnings-at-exit').val());
        var YearsAreGood = true;
        $('.years-from-start').each(function (index) {
            YearsAreGood = YearsAreGood && ($.isNumeric($(this).val()));
        });
        var FundsAreGood = true;
        $('.invested-funds').each(function (index) {
            FundsAreGood = FundsAreGood && ($.isNumeric($(this).val()));
        });
        var RoiAreGood = true;
        $('.required-roi').each(function (index) {
            RoiAreGood = RoiAreGood && ($.isNumeric($(this).val()));
        });
        if (!StartSharesGood) {
            $.Notify({
                caption: 'Error',
                content: 'Must input number for starting shares.',
            });
        }
        if (!YearExitGood) {
            $.Notify({
                caption: 'Error',
                content: 'Must input number for Years to Exit.',
            });
        }
        if (!PeRatioGood) {
            $.Notify({
                caption: 'Error',
                content: 'Must input number for P/E Ratio.',
            });
        }
        if (!ExitEarningsGood) {
            $.Notify({
                caption: 'Error',
                content: 'Must input a number for Earnings at Exit',
            });
        }
        if (!YearsAreGood) {
            $.Notify({
                caption: 'Error',
                content: 'Input a number for all years.',
            });
        }
        if (!FundsAreGood) {
            $.Notify({
                caption: 'Error',
                content: 'Input a number for all invested funds.',
            });
        }
        if (!RoiAreGood) {
            $.Notify({
                caption: 'Error',
                content: 'Input a number for all required ROIs.',
            });
        }
        return (YearExitGood && PeRatioGood && ExitEarningsGood && YearsAreGood && FundsAreGood && RoiAreGood)
    }

    function submitVc() {
        var roundYears = new Array();
        var roundFunds = new Array();
        var roundRois = new Array();
        var startingShares, yearsToExit, peRatio, earningsAtExit;

        // Grab our cash flows
        $('.round-row').each(function () {
            roundYears.push($(this).find('div .years-from-start').val());
            roundFunds.push($(this).find('div .invested-funds').val());
            roundRois.push($(this).find('div .required-roi').val());
        });

        startingShares = $('#starting-shares').val();
        yearsToExit = $('#years-to-exit').val();
        peRatio = $('#pe-ratio').val();
        earningsAtExit = $('#earnings-at-exit').val();

        var params = new Object();
        params.roundYears = roundYears;
        params.roundFunds = roundFunds;
        params.roundRois = roundRois;
        params.startingShares = startingShares;
        params.yearsToExit = yearsToExit;
        params.peRatio = peRatio;
        params.earningsAtExit = earningsAtExit;

        var serialized = $.param(params, true);
        var url = '/VentureCapital/Calculate?' + serialized;
        window.location.href = url;
    }

    $(function () {
        $('#addRound').click(function () {
            round_index++;
            $('.round-row').last().after(
            '<div id="round_' + round_index + '" class="row round-row">' +
            '<div class="input-control text span2">' +
            '<input class="years-from-start" type="text" placeholder="Year" />' +
            '</div>' +
            '<div class="input-control text span5">' +
            '<input class="invested-funds" type="text" placeholder="Invested Funds" />' +
            '</div>' +
            '<div class="input-control text span5">' +
            '<input class="required-roi" type="text" placeholder="Required ROI" />' +
            '</div>' +
            '</div>');
        });

        $('#submit-vc').click(function () {
            if (validateFields())
                submitVc();
        });
    });
</script>

<div class="row">
    <div class="span12">
        <h1>@(ViewBag.Title)</h1>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span12">
                <h2>Enter years to exit, P/E ratio, and earnings at exit</h2>
            </div>
        </div>
        <div class="row">
            <div class="input-control text span3">
                <label>Starting Shares</label>
                <input id="starting-shares" type="text" />
            </div>
            <div class="input-control text span3">
                <label>Years to Exit</label>
                <input id="years-to-exit" type="text" />
            </div>
            <div class="input-control text span3">
                <label>P/E Ratio</label>
                <input id="pe-ratio" type="text" />
            </div>
            <div class="input-control text span3">
                <label>Earnings at Exit</label>
                <input id="earnings-at-exit" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <hr />
                <h2>Input invested funds and required ROI for each round</h2>
            </div>
        </div>
        <div id="round_1" class="row round-row">
            <div class="input-control text span2">
                <input class="years-from-start" type="text" placeholder="Year" />
            </div>
            <div class="input-control text span5">
                <input class="invested-funds" type="text" placeholder="Invested Funds" />
            </div>
            <div class="input-control text span5">
                <input class="required-roi" type="text" placeholder="Required ROI" />
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <button id="addRound" class="large success">Add Round</button>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="span12">
                <button id="submit-vc" class="large primary">Submit</button>
            </div>
        </div>
    </div>
</div>
